{% extends '::base.html.twig' %}

{% block meta_title %}Mapping {{ engine.name }}{% endblock %}
{% block og_title %}Mapping {{ engine.name }}{% endblock %}

{% block meta_description %}{{ get_seo_description(engine.description) }}{% endblock %}
{% block og_description %}{{ get_seo_description(engine.description) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ engine.name }}</h1>

            <p class="text-right">{{ list|length }} tutoriels disponibles.</p>

            <div class="row">
                {% for article in list %}
                    <div class="col-md-12 article-item">
                        <div class="well">
                            {% if article.firstPicture %}
                                <div class="col-md-2 text-center">
                                    <img src="{{ article.firstPicture }}" alt="{{ article.title }}" style="max-width: 160px;" />
                                </div>
                                <div class="col-md-8">
                            {% else %}
                                <div class="col-md-10">
                            {% endif %}
                                <h2 class="page-header" style="font-size: 20px;">
                                    <a href="{{ path('article_show', {'slug': article.slug, 'engineSlug': article.engineSlug}) }}" title="{{ article.title }}">{{ article.title | capitalize }}</a>
                                    <small>
                                        <span class="article-title-edit" data-url="{{ path('article_edit_title', {
                                            'id': article.id
                                        }) }}" data-type="text" data-pk="{{ article.id }}" data-value="{{ article.title }}"></span>
                                    </small>
                                </h2>
                                <div>
                                    {{ get_seo_description(article.content)|raw }}...
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-2">
                                <div class="text-right">
                                    <a href="{{ path('article_show', {'slug': article.slug, 'engineSlug': article.engineSlug}) }}" title="voir {{ article.title }}" class="btn btn-primary btn-md">
                                        Lire le tutoriel
                                    </a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.article-title-edit').editable({
                url:  $(this).data('url'),
                type: $(this).data('type'),
                pk:  $(this).data('pk')
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}">
{% endblock %}
