{% extends '::base.html.twig' %}

{% block meta_title %}{{ article.title }} - {{ article.category.engine.name }}{% endblock %}
{% block og_title %}{{ article.title }} - {{ article.category.engine.name }}{% endblock %}

{% block meta_description %}{{ get_seo_description(article.content) }}{% endblock %}
{% block og_description %}{{ get_seo_description(article.content) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <h1>{{ article.category.engine.name }} <small>{{ article.category.name }}</small></h1>
                </div>
                <div class="col-md-3">
                    <div class="text-right" id="article-show-socials">
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_googleplus_large' displayText='Google +'></span>
                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                        <span class='st_email_large' displayText='Email'></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="well">
                        <h2 id="article-show-title">{{ article.title }} <small>par {{ article.author.name }}</small></h2>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    {% if article.author.avatar %}
                        <img src="{{ article.author.avatar }}" alt="{{ article.author.name }}" style="max-height: 65px;" />
                    {% endif %}
                </div>
            </div>

            <div class="well" id="article-content">
                {{ article.content | raw }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#article-content img').addClass('img-thumbnail');
        });
    </script>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "aa2e260c-bba7-47f0-8999-d175f32c2252", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}
